/*Content styline*/

.h1 {
    margin-left: 15px;
}
.container {
    margin-top: 20px;
    height: auto;
    margin-bottom: 80px;
}

.form-group {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 35px;
  }

.btn.btn-secondary {
    margin-left: 15px;
}

 /*Media Queries*/


@media screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
}

@media screen and (min-width: 681px) {
    .wrapper {
        width: 620px;
    }

    

}
