body {
    position: relative;
    font-family: 'Courier New Sans Serif', Courier, monospace;
    font-size: 18px;
    line-height: 27px;
    background-color:rgb(1, 248, 236)
}

/*header styling*/
.navbar.navbar-expand-sm.navbar-dark.bg-secondary {
    height: 80px;
}

.navbar-brand {
    font-size: 36px;
}

.nav-link {
    font-size: 22px;
}

.container {
    margin-top: 20px;
    height: auto;
}

/*footer styling*/
.footer-margin {
    text-align: center;
    bottom: 0;
  }

@media screen and (max-width: 780px){
    .wrapper {
        width: 100%;
    }
  }



@media screen and (max-width: 480px){
    .wrapper {
        width: 100%;
    }
}