.container {
    margin-top: 20px;
    height: auto;
    margin-bottom: 80px;
}

@media screen and (min-width: 834px){
    .container {
        height: 1280px;
    }
}

@media screen and (max-width: 780px){
    .wrapper {
        width: 100%;
     }

    .container {
        text-align: center;
    }
  }

@media screen and (max-width: 480px){
    .wrapper {
        width: 100%;
    }
}