.container {
    margin-top: 20px;
    height: auto;
    margin-bottom: 80px;
    margin-left: 15px;
}

@media screen and (min-width: 834px){
    .container {
        height: 100%;
    }
}

@media screen and (max-width: 780px){
    .wrapper {
        width: 100%;
    }
  }

@media screen and (max-width: 480px){
    .wrapper {
        width: 100%;
    }

    img {
        width: 100%
    }
}